<html>
<head>
  <title>Nesletter</title>
</head>
<body>
  <div style="margin-bottom:7.5pt">
    <p style="text-align:center; font-size:9.0pt; font-family:'Trebuchet MS','sans-serif'; color:#666666">
      Si no puedes leer este correo correctamente, haz click <a href="#" title="Haz click aquí si no puedes leer el correo correctamente">aqu&iacute;</a>
    </p>
  </div>
  <div align="center">
    <table border="0" cellspacing="0" cellpadding="0" width="700" style="width:525.0pt">
      <tbody>
        <tr>
          <td style="background:#f47b20; padding: 0cm 0cm 0cm 0cm">
            <table border="0" cellspacing="0" cellpadding="0" width="700" style="width:525.0pt">
              <tbody>
                <tr>
                  <td width="450" style="width:337.5pt; background:#f47b20; padding: 0cm 0cm 0cm 0cm">
                    <p align="right" style="text-align:right">
                      <span style="font-size:9.0pt; font-family:'Trebuchet MS','sans-serif'; color:#666666">
                        <a href="http://www.ktsport.es" title="KTSport"  target="_blank">
                          <span style="text-decoration:none">
                            <img src="{{ logo }}" border="0" width="450" height="120" alt="KTSport Espa&ntilde;a">
                          </span>
                        </a>
                      </span>
                    </p>
                  </td>
                  <td width="245" style="width:183.75pt; background:#f47b20; padding:0cm 0cm 0cm 0cm">
                    <p align="right" style="text-align:right">
                      <strong>
                        <span style="font-family:'Trebuchet MS','sans-serif'; color:white">
                          Newsletter Julio 2014
                        </span>
                      </strong>
                      <span style="font-family:'Trebuchet MS','sans-serif'; color:white">
                        <br>
                        <span>
                          <a href="http://www.ktsport.es" target="_blank" title="KTSport Espa&ntilde;a">
                            <span style="color:white">
                              http://www.ktsport.es
                            </span>
                          </a>
                        </span>
                      </span>
                    </p>
                  </td>
                  <td width="10" style="width:7.5pt; background:#f47b20; padding:0cm 0cm 0cm 0cm">
                    <p align="right" style="text-align:right">
                      <span style="font-family:'Trebuchet MS','sans-serif'; color:#666666">
                        <img src="{{ spacer }}" border="0" width="10" height="100" alt="Espaciador">
                      </span>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr style="height:7.5pt">
          <td style="padding:0cm 0cm 0cm 0cm; height:7.5pt">
            <p>
              <span style="font-size:9.0pt; font-family:'Trebuchet MS','sans-serif'; color:#666666">
                <img src="{{ spacer }}" border="0" width="240" height="10" alt="Espaciador">
              </span>
            </p>
          </td>
        </tr>
        <tr>
          <td style="background:#373737; padding:5px 0cm 5px 0cm">
            <table border="0" cellspacing="0" cellpadding="0" width="700" style="width:525.0pt">
              <tbody>
                <tr>
                  <td style="background:#373737; padding:0cm 10px 0cm 0cm">
                    <p align="right" style="text-align:right">
                      <span style="color:#cccccc; font-family:'Trebuchet MS','sans-serif'">
                        Sigue a KTSport Espa&ntilde;a:
                      </span>
                    </p>
                  </td>
                  <td width="150" style="width:112.5pt; background:#373737; padding: 0cm 0cm 0cm 0cm">
                    <a href="https://www.facebook.com/KTSPORT.ES" title="S&iacute;guenos en Facebook" target="_blank" style="display:inline-block; width:30px; height:30px; text-indent:-999em; text-align:left; border-radius:5px; background:url('{{ facebook }}')">
                    </a>
                    <a href="https://twitter.com/KTSPORTES" title="S&iacute;guenos en Twitter" target="_blank" style="display:inline-block; width:30px; height:30px; text-indent:-999em; text-align:left; border-radius:5px; background:url('{{ twitter }}')">
                    </a>
                    <a href="https://www.linkedin.com/profile/view?id=198469687" title="S&iacute;guenos en LinkedIn" target="_blank" style="display:inline-block; width:30px; height:30px; text-indent:-999em; text-align:left; border-radius:5px; background:url('{{ linkedin }}')">
                    </a>
                    <a href="https://www.youtube.com/user/KTSPORTES" title="S&iacute;guenos en YouTube" target="_blank" style="display:inline-block; width:30px; height:30px; text-indent:-999em; text-align:left; border-radius:5px; background:url('{{ youtube }}')">
                    </a>
                  </td>
                </tr>
              </tbody> 
            </table>
          </td>
        </tr>
        <tr style="height:15pt">
          <td style="padding:0cm 0cm 0cm 0cm; height:15pt">
            <p>
              <span style="font-size:15.0pt; font-family:'Trebuchet MS','sans-serif'; color:#666666">
                <img src="{{ spacer }}" border="0" width="240" height="18" alt="Espaciador">
              </span>
            </p>
          </td>
        </tr>
        <tr>
          <td style="padding:15px; background:#373737">
            <span style="font-size:15.0pt; font-family:'Trebuchet MS','sans-serif'; color:#f47b20; font-weight:bold; text-transform:uppercase">
              T&iacute;tulo sorprendente
            </span>
          </td>
        </tr>
        <tr style="height:2pt">
          <td style="padding:0cm 0cm 0cm 0cm; height:2pt">
            <p>
              <span style="font-size:2.0pt; font-family:'Trebuchet MS','sans-serif'; color:#666666">
                <img src="{{ spacer }}" border="0" width="240" height="5" alt="Espaciador">
              </span>
            </p>
          </td>
        </tr>
        <tr>
          <td style="padding:15px; background:#373737">
            <p style="font-size:12.0pt; font-family:'Trebuchet MS','sans-serif'; color:white; text-align:justify">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </td>
        </tr>
        <tr style="height:7.5pt">
          <td style="padding:0cm 0cm 0cm 0cm; height:7.5pt">
            <p>
              <span style="font-size:9.0pt; font-family:'Trebuchet MS','sans-serif'; color:#666666">
                <img src="{{ spacer }}" border="0" width="240" height="10" alt="Espaciador">
              </span>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="margin-bottom:7.5pt">
    <p style="text-align:center; font-size:9.0pt; font-family:'Trebuchet MS','sans-serif'; color:#666666">
      KTSport, 2014
    </p>
    <p style="text-align:center; font-size:9.0pt; font-family:'Trebuchet MS','sans-serif'; color:#666666">
      Para darte de baja de nuestra newsletter, haz click <a href="#" title="Haz click aquí si no puedes leer el correo correctamente">aqu&iacute;</a>
    </p>
  </div>
</body>
</html>