<html>
<head>
  <title>Newsletter</title>
</head>
<body>
  <!--<div style="margin-bottom:7.5pt">
    <p style="text-align:center; font-size:9.0pt; font-family:'Trebuchet MS','sans-serif'; color:#666666">
      Si no puedes leer este correo correctamente, haz click <a href="#" title="Haz click aquí si no puedes leer el correo correctamente">aqu&iacute;</a>
    </p>
  </div>-->
  <div align="center">
    <table border="0" cellspacing="0" cellpadding="0" width="700" style="width:525.0pt">
      <tbody>
        <tr>
          <td style="background:#f47b20; padding: 0cm 0cm 0cm 0cm">
            <table border="0" cellspacing="0" cellpadding="0" width="700" style="width:525.0pt">
              <tbody>
                <tr>
                  <td width="450" style="width:337.5pt; background:#f47b20; padding: 0cm 0cm 0cm 0cm">
                    <p align="right" style="text-align:right;margin:0px">
                      <span style="font-size:9.0pt; font-family:'Trebuchet MS','sans-serif'; color:#666666">
                        <a href="http://www.ktsport.es" title="KTSport"  target="_blank">
                          <span style="text-decoration:none">
                            <img src="{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ asset('bundles/syliusweb/images/newsletter/logo.jpg') }}" border="0" width="450" height="120" alt="KTSport Espa&ntilde;a">
                          </span>
                        </a>
                      </span>
                    </p>
                  </td>
                  <td width="245" style="width:183.75pt; background:#f47b20; padding:0cm 0cm 0cm 0cm">
                    <p align="right" style="text-align:right">
                      <strong>
                        <span style="font-family:'Trebuchet MS','sans-serif'; color:white">
                          Newsletter {{ mes }} {{ 'now'|date('Y') }}
                        </span>
                      </strong>
                      <span style="font-family:'Trebuchet MS','sans-serif'; color:white">
                        <br>
                        <span>
                          <a href="http://www.ktsport.es" target="_blank" title="KTSport Espa&ntilde;a">
                            <span style="color:white">
                              http://www.ktsport.es
                            </span>
                          </a>
                        </span>
                      </span>
                    </p>
                  </td>
                  <td width="10" style="width:7.5pt; background:#f47b20; padding:0cm 0cm 0cm 0cm">
                    <p align="right" style="text-align:right; margin:0px; width:7.5pt">
                      <span style="font-family:'Trebuchet MS','sans-serif'; color:#666666">
                        <img src="{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ asset('bundles/syliusweb/images/newsletter/spacer.gif') }}" border="0" width="10" height="100" alt="Espaciador">
                      </span>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr style="height:7.5pt">
          <td style="padding:0cm 0cm 0cm 0cm; height:7.5pt">
            <p style="margin:0px; max-height:7.5pt">
              <span style="font-size:9.0pt; font-family:'Trebuchet MS','sans-serif'; color:#666666">
                <img src="{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ asset('bundles/syliusweb/images/newsletter/spacer.gif') }}" border="0" width="240" height="10" alt="Espaciador">
              </span>
            </p>
          </td>
        </tr>
        <tr>
          <td style="background:#373737; padding:5px 0cm 5px 0cm">
            <table border="0" cellspacing="0" cellpadding="0" width="700" style="width:525.0pt">
              <tbody>
                <tr>
                  <td style="background:#373737; padding:0cm 10px 0cm 0cm">
                    <p align="right" style="text-align:right">
                      <span style="color:#cccccc; font-family:'Trebuchet MS','sans-serif'">
                        Síguenos en:
                      </span>
                    </p>
                  </td>
                  <td width="150" style="width:112.5pt; background:#373737; padding: 0cm 0cm 0cm 0cm">
                    <a href="https://www.facebook.com/KTSPORT.ES" title="S&iacute;guenos en Facebook" target="_blank" style="display:inline-block; width:30px; height:30px; text-indent:-999em; text-align:left; border-radius:5px; background:url('{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ asset('bundles/syliusweb/images/newsletter/facebook.png') }}')">
                    </a>
                    <a href="https://twitter.com/KTSPORTES" title="S&iacute;guenos en Twitter" target="_blank" style="display:inline-block; width:30px; height:30px; text-indent:-999em; text-align:left; border-radius:5px; background:url('{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ asset('bundles/syliusweb/images/newsletter/twitter.png') }}')">
                    </a>
                    <a href="https://www.linkedin.com/profile/view?id=198469687" title="S&iacute;guenos en LinkedIn" target="_blank" style="display:inline-block; width:30px; height:30px; text-indent:-999em; text-align:left; border-radius:5px; background:url('{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ asset('bundles/syliusweb/images/newsletter/linkedin.png') }}')">
                    </a>
                    <a href="https://www.youtube.com/user/KTSPORTES" title="S&iacute;guenos en YouTube" target="_blank" style="display:inline-block; width:30px; height:30px; text-indent:-999em; text-align:left; border-radius:5px; background:url('{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ asset('bundles/syliusweb/images/newsletter/youtube.png') }}')">
                    </a>
                  </td>
                </tr>
              </tbody> 
            </table>
          </td>
        </tr>
        <tr style="height:15pt">
          <td style="margin:0cm 0cm 0cm 0cm; height:15pt">
            <p style="margin:0px; max-height:15pt">
              <span style="font-size:15.0pt; font-family:'Trebuchet MS','sans-serif'; color:#666666">
                <img src="{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ asset('bundles/syliusweb/images/newsletter/spacer.gif') }}" border="0" width="240" height="18" alt="Espaciador">
              </span>
            </p>
          </td>
        </tr>
        <tr>
          <td style="padding:15px; background:#373737">
            <span style="font-size:15.0pt; font-family:'Trebuchet MS','sans-serif'; color:#f47b20; font-weight:bold; text-transform:uppercase">
              {{ titulo }}
            </span>
          </td>
        </tr>
        <tr style="height:2pt">
          <td style="padding:0cm 0cm 0cm 0cm; height:2pt">
            <p style="margin:0px; max-height:2pt">
              <span style="font-size:2.0pt; font-family:'Trebuchet MS','sans-serif'; color:#666666">
                <img src="{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ asset('bundles/syliusweb/images/newsletter/spacer.gif') }}" border="0" width="240" height="5" alt="Espaciador">
              </span>
            </p>
          </td>
        </tr>
        <tr>
          <td style="padding:15px; background:#373737; font-size:12.0pt; font-family:'Trebuchet MS','sans-serif'; color:white; text-align:justify">
            {{ contenido|raw }}
          </td>
        </tr>
        <tr style="height:7.5pt">
          <td style="padding:0cm 0cm 0cm 0cm; height:7.5pt">
            <p style="margin:0px; max-height:7.5pt">
              <span style="font-size:9.0pt; font-family:'Trebuchet MS','sans-serif'; color:#666666">
                <img src="{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ asset('bundles/syliusweb/images/newsletter/spacer.gif') }}" border="0" width="240" height="10" alt="Espaciador">
              </span>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="margin-bottom:7.5pt">
    <p style="text-align:center; font-size:9.0pt; font-family:'Trebuchet MS','sans-serif'; color:#666666">
      KTSport, 2014
    </p>
    <p style="text-align:center; font-size:9.0pt; font-family:'Trebuchet MS','sans-serif'; color:#666666">
      Para darte de baja de nuestra newsletter, haz click <a href="{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ path('ktsport_newsletter_unsubscribe', {'id': id}) }}" title="Haz click aquí para darte de baja de nuestra newsletter">aqu&iacute;</a>
    </p>
  </div>
</body>
</html>