{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import update %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.configuration'|trans }}</li>
    <li><a href="{{ path('ktsport_backend_event_index') }}">{{ 'sylius.breadcrumb.event.index'|trans }}</a></li>
    <li><a href="{{ path('ktsport_backend_event_show', {'id': event.id}) }}">{{ event.title }}</a></li>
    <li>{{ 'sylius.breadcrumb.edit'|trans }}</li>
</ol>
{% endblock %}


{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-pencil"></i> {{ 'sylius.event.update_header'|trans|raw }}</h1>
</div>

{{ form_errors(form) }}

<form action="{{ path('ktsport_backend_event_update', {'id': event.id}) }}" method="post" class="form-horizontal" novalidate>
    <input type="hidden" name="_method" value="PUT">
    {% include 'SyliusWebBundle:Backend/Event:_form.html.twig' %}
    {{ update() }}
</form>
{% endblock %}