{% set stock = product.getMasterVariant.isInStock %}

{% set available = product.getMasterVariant.isAvailableOnDemand %}

<div class="row product-show">
    <div class="large-3 columns">
        <a href="{{ path('sylius_product_show', {'slug': product.slug}) }}" class="thumbnail">
            <img class="img-rounded" src="{{ product.image ? product.image.path|imagine_filter('sylius_200x200') : 'http://placehold.it/200x200' }}" alt="{{ product.name }}" />
        </a>
    </div>
    <div class="large-9 columns">
        <a href="{{ path('sylius_product_show', {'slug': product.slug}) }}" class="btn btn-link"><h3>{{ product.name }}</h3></a>
        {% if product.sku %}<a href="{{ path('sylius_product_show', {'slug': product.slug}) }}"><h4>Ref: {{ product.sku }}</h4></a>{% endif %}
        <h4 class="price">{{ product.price|descuento(product.id)|tax_rate(product.id)|sylius_price }}</h4>
        <p>{{ product.shortDescription|default('sylius.product.no_description'|trans)|raw }}</p>
        {% if not product.hasOptions %}
            <div class="pull-left">
                <form action="{{ path('sylius_cart_item_add', {'id': product.id}) }}" method="post" class="clearfix">
                    {% set form = sylius_cart_form({'product': product}) %}
                    {% form_theme form 'SyliusWebBundle:Frontend:forms.html.twig' %}
                    {{ form_widget(form.quantity, {'attr': {'class': 'center-text'}, 'empty_value': '1'}) }}
                    {{ form_widget(form._token) }}
                    <button type="submit" class="medium radius success" {% if not available and not stock %}disabled="disabled"{% endif %}>
                        <i class="icon-shopping-cart icon-white"></i> {{ 'sylius.add_to_cart'|trans }}
                    </button>
                    {% if not available and not stock %}
                    <span class="label alert">{{ 'sylius.out_of_stock'|trans }}</span>
                    {% endif %}
                </form>
            </div>
        {% endif %}
        <a href="{{ path('sylius_product_show', {'slug': product.slug}) }}" class="btn btn-lg btn-info pull-right">{{ 'sylius.product.show'|trans }}</a>
    </div>
</div>
