{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.configuration'|trans }}</li>
    <li><a href="{{ path('sylius_backend_newsletter_index') }}">{{ 'sylius.breadcrumb.newsletter.index'|trans }}</a></li>
    <li><a href="{{ path('sylius_backend_newsletter_show', {'id': newsletter.id}) }}">{{ newsletter.titulo }}</a></li>
    <li>{{ 'sylius.newsletter.reutilizar'|trans }}</li>
</ol>
{% endblock %}


{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-pencil"></i> {{ 'sylius.newsletter.update_header'|trans|raw }}</h1>
</div>

{{ form_errors(form) }}

<form id="form" action="{{ path('sylius_backend_newsletter_update', {'id': newsletter.id}) }}" method="post" class="form-horizontal" novalidate>
    <input type="hidden" name="_method" value="PUT">
    {% include 'SyliusWebBundle:Backend/Newsletter:_form.html.twig' %}

<div class="form-actions">
    <button type="submit" class="btn btn-primary btn-lg"><i class="icon-save"></i> {{ 'sylius.newsletter.send'|trans }}</button>
    {% set url = path('sylius_backend_newsletter_update', {'id': newsletter.id}) %}
    <a href="{{ app.request.headers.get('referer', url) }}" class="btn btn-danger btn-lg"><i class="icon-remove"></i> {{ 'sylius.cancel'|trans }}</a>
</div>

</form>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ tinymce_init() }}
    <script type="text/javascript" src="{{ asset('bundles/syliusweb/js/newsletter_validation.js') }}"></script>
{% endblock %}