{% from 'SyliusWebBundle:Frontend/Shop/Macros:actions.html.twig' import update %}

{% form_theme form 'SyliusWebBundle:Frontend:forms.html.twig' %}

<h4 class="title">{{ 'sylius.form.frontend.password.title'|trans }}</h4>

{{ form_errors(form) }}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="user-forms">
    {{ form_row(form.current_password, {'label': 'sylius.form.frontend.password.current'|trans}) }}
    {{ form_row(form.plainPassword.first, {'label': 'sylius.form.frontend.password.new'|trans}) }}
    {{ form_row(form.plainPassword.second, {'label': 'sylius.form.frontend.password.confirmation'|trans}) }}
    {{ form_rest(form) }}
    {{ update() }}
</form>
