<h4 class="title">{{ 'sylius.account.home.welcome'|trans }}</h4>
<p>{{ 'sylius.account.home.outline'|trans }}</p>
<p><strong>{{ 'sylius.account.home.name'|trans }}</strong> {{ app.user.lastName|upper }}, {{ app.user.firstName }}</p>
<p><strong>{{ 'sylius.account.home.id'|trans }}</strong> {{ app.user.id }}</p>
<p><strong>{{ 'sylius.account.home.email'|trans }}</strong> {{ app.user.email }}</p>
<p><strong>{{ 'sylius.account.home.since'|trans }}</strong> {{ app.user.createdAt|date('d-m-Y') }}</p>
</div>
